h1,h2,h3,h4.h5,h6{
    font-family: "UTM Helve";
}

body{
    margin:0;
    font-family: "UTM Helve";
    background-color: #FCF2E8;
}

p{
    font-size:14px;
    text-align: justify;
}

a{
    font-family: "UTM Helve";
    text-decoration: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.content{
    margin:0 4%;
}

.content img{
    border-radius: 0.5em;
}

#dantoc_image{
    text-align: center;
    margin: 1em 0;
}

#dantoc_image img{
    border-radius: 0.5em;
}


#mainnav{
    text-align: center;
    margin-top: -2em;
}

#mainnav a{
    display: inline-block;
    font-size:14px;
    font-weight: bold;
    padding:2em 0.8em 0.6em 0.8em;
    background: linear-gradient(180deg, rgba(33,31,43,1) 70%, rgba(181,36,36,1) 100%);
    background-color: #211F2B;
    border-radius:0.5em;
    position: relative;
}

#nav1::before{
    content:url(../image/icon_home.png);
    position: absolute;
    top: 8px;
    left:40%;
}

#nav2::before{
    content:url(../image/icon_3d.png);
    position: absolute;
    top: 8px;
    left:40%;
}

#nav3::before{
    content:url(../image/icon_contact.png);
    position: absolute;
    top: 8px;
    left:40%;
}


.grid-container{
    display: grid;
    grid-template-areas: 
        'item1 item3 item3 item3 item3 item3 item3 item3'
        'item2 item4 item4 item4 item4 item4 item4 item4'
    ;
    grid-gap: 8px;
}

#dantoc-avatar{
    grid-area: item1;
}

.likebutton{
    grid-area: item2;
    height: 4em;
    background-color: #E52C2C;
    color: white;
    border-radius: 0.5em;
    border: 2px solid #FF7D90;
    font-weight: bold;
    box-shadow: 2px 4px #00000036;
    position: relative;
}

.likebutton::before{
    content: url(../image/icon_heart.png);
    top:0;
    left: 0;
    position:absolute;
}

#comment-input{
    grid-area: item3;
    height: auto;
    padding: 1em;
    color: #FC9E22;
    border-radius: 1em;
    border: 2px solid #FC9E22;
    word-wrap: break-word;
    word-break: break-word;
}

.submitbutton{
    grid-area: item4;
    height: 4em;
    background-color: #FC9E22;
    color: white;
    border-radius: 0.5em;
    border: 2px solid #FFD366;
    font-weight: bold;
    box-shadow: 2px 4px #00000036;
}

.thongbao p{
    text-align: center;
    color: #E52C2C;
}

#dantoc_title{
    color: #B52424;
    font-weight: bold;
    text-align: center;
}


h2{
    color: #B52424;
    font-weight: bold;
    text-align: center;
}

video{
    border-radius: 0.5em;
}

.dantoc_event{
    margin: 1em 0;
    position: relative;
}

.event_content{
    position: absolute;
    top:0;
    margin: 0 1.5em;
}

.event_content h4{
    margin-top:-1em;
    color: #B52424;
}

.event_content p{
    height: 8em;
    overflow: auto;
}

#social{
    width:auto;
    height: 80px;
    border: 1px solid grey;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
}

#footer{
    background-image: url("../image/footer.png");
    background-color: #211F2B;
    border-radius: 0.5em 0.5em 0 0;
}

.footer-container{
    text-align: center;
    margin: 2em 0 1em 0;
    color:white;
    padding: 1em 1.5em;
}

#footer a{
    text-decoration: underline;
    color: #E08619;
    display: block;
}

#footer .footerbutton{
    text-decoration: none;
    background-color:#5b5a7542;
    padding: 0.7em;
    border-radius: 0.5em;
}

#footer h5{
    margin-bottom:0;
}

#footer p{
    text-align: center;
}

#logo-container {
    text-align: center;
    padding:1.5em;
    background-color: #111016;
}

